<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andef.myfinance"
    android:versionCode="11"
    android:versionName="11.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:name=".MyFinanceApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFinance"
        tools:targetApi="31">
        <activity
            android:name=".presentation.aboutdev.AboutDeveloperActivity"
            android:exported="false"
            android:label="@string/title_activity_about_developer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.reminder.ReminderActivity"
            android:exported="false"
            android:label="@string/title_activity_reminder"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.reminder.ReminderListActivity"
            android:exported="false"
            android:label="@string/title_activity_reminder_list"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.analysis.expense.ExpenseAnalysisActivity"
            android:exported="false"
            android:label="@string/title_activity_expense_analysis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.analysis.income.IncomeAnalysisActivity"
            android:exported="false"
            android:label="@string/title_activity_income_analysis"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.webview.WebViewActivity"
            android:exported="false"
            android:label="@string/title_activity_web_view"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.currency.CurrencyActivity"
            android:exported="false"
            android:label="@string/title_activity_currency"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.expense.ExpenseActivity"
            android:exported="false"
            android:label="@string/title_activity_expense"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.income.IncomeActivity"
            android:exported="false"
            android:label="@string/title_activity_income"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />
        <activity
            android:name=".presentation.main.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyFinance"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".ReminderReceiver" />
    </application>

</manifest>